.new-member{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0px;
}
.name-input{
  grid-area: 1;
}
.email-input{
  grid-area: 1;
}

.member-container {
  border: solid black 1px;  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding: 1em;
}
.member{
  /* grid-area: 1; */
  /* border: solid red 2px; */
}
.input-amount, .input-expense{
  max-width: 12em;
  padding: .3em;
}
.delete-expense{
  color: red;
  padding-left: 3em;
}
.more-expenses{
 padding-left: 7em;
}