.new-member{
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0px;
}
.name-input{
  grid-area: 1;
}
.email-input{
  grid-area: 1;
}